@model IEnumerable<Magazine.MOdel.ImageFolder.ImageListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row">

    @foreach (var item in Model)
    {

        <div >

            @if (item.FileContent != null)
            {
                var base64 = Convert.ToBase64String(item.FileContent); var imgsrc = String.Format("data:image/gif;base64,{0}", base64);<img src=@imgsrc ,class="posting" />
            }

            else
            {
                <img src="" class="img-fluid" alt="" />
            }


            <p>
            @Html.DisplayFor(modelItem => item.ImgageInfo)
            </p>



        </div>




    }







</div>


@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImageId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImgageInfo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ImageId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImgageInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ImageId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ImageId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ImageId })
                })
            </td>
        </tr>
    }

</table>*@
